.menu {
    padding: 20px !important;
    display: flex !important;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.menu-link:hover {
    color: wheat;
}

.menu-items {
    display: contents;
}