.App {
  /* background: blue; */
  background-image: linear-gradient(rgb(183, 0, 255) , rgb(6, 2, 255), rgb(4, 10, 99));
  height: 100vh;
}

.App-body {
  /* margin: 10px; */
  /* height: 100%; */
  display: grid;
  /* position: relative; */
}

.App-link {
  color: #61dafb;
}

.login-component {
  text-align: center;
  display: inline-grid;
  /* padding: 20px; */
  border: solid 1px black;
  background: white;
  margin:auto;
  margin-top: 15vh;
  border-radius: 5%;
}

.login-component > span {
  padding: 5%;
}

/* TODO: move to login component when created */
.login-form {
  margin: 5%;
}

.login-form > :last-child {
  margin: 5%;
}

.login-form-field {
  padding: 5% !important;
}

.form-field-container {
  display: grid;
}

.container {
  background: white;
  height: 100vh;
  /* padding: 20%; */
}

.section {
  display: grid;
  /* width: 50%; */
}

.section-title {
  font-size: 3.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-container {
 /* text-align: center;  */
 /* padding: 20px; */
}

.grid {
  display: grid;
}

.body {
  padding: 5%;
}

.btn-small {
  max-width: 200px;
}

.copy:hover {
  color: blue;
  cursor: pointer;
}

.footer {
  font-size: 1em;
  background: black;
  color: azure;
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  display: block;
}

.footer > span {
  float: right;
  padding: 10px;
}

.footer > a {
  color: white;
  margin: 10px;
  text-align: left;
  text-decoration: none;
  float: right;
}

.footer > a:hover {
  color: cyan;
}